body {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.45;
  font-family: Graphik Meetup, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica, Arial, sans-serif;
}

.nav {
  padding: 20px 16px;
  background: #555;
  color: #f1f1f1;
  background-color: white;
  border-bottom: 1px solid rgb(221, 221, 221);
  height: 44px;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  padding: 16px;
}
.logo{
  flex: 1;
}

.nav-items {
  color: #757575;
}

.nav-items .item-list{
  display: flex;
  align-items: center;
  font-size: 14px;
  
}

.nav-item{
  list-style: none;
  padding: 5px 14px;
  color: #757575;
}


#start-new-group {
  color: #00A2C7;
  font-weight: bold;
  border-right: 1px solid rgba(46,62,72,.12);
}

a{
  text-decoration: none;
}