body {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.45;
  font-family: Graphik Meetup, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica, Arial, sans-serif;
}
.home-container {
  display: flex;
  flex-direction: column;
}
.nav {
  padding: 20px 16px;
  background: #555;
  color: #f1f1f1;
  background-color: white;
  border-bottom: 1px solid rgb(221, 221, 221);
  height: 44px;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  padding: 16px;
}
.logo {
  margin: 4px;
  padding-top: 6px;
  flex: 1;
}

.nav-items {
  color: #757575;
}

.nav-items .item-list {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding-left: 32px;
}

.nav-item {
  list-style: none;
  padding: 5px 14px;
}

#start-new-group {
  border-right: 1px solid rgba(46, 62, 72, 0.12);
}

.nav-item-link {
  color: #757575;
  text-decoration: none;
}

.start-new-group-link {
  color: #00a2c7;
  font-weight: bold;
}

.content {
  padding: 0;
  position: relative;
  height: 460px;
  width: 100%;
}

.video-container {
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.intro-video {
  position: absolute;
  top: 0;
  object-fit: fill;
  height: 100%;
  width: 100%;
}

.flex-container {
  position: absolute;
  top:0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-item {
  color: #f64060;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.title-text {
  margin: 0;
  font-size: 42px;
}



.sign-in-button {
  background-color: #f64060;
  color: white;
  width: 320px;
  height: 50px;
  border: none;
  display: inline-block;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.button-cover {
  padding-top: 14px;
}

.sign-in-button:hover{
  background-color: #E81035;
}

.sign-in-button:active {
  border: none;
}

/* catelories list */
.categories {
  width: 100%;
  height: 76px;
  display: flex;
  border-bottom: 1px solid rgb(221, 221, 221);
  border-top: 1px solid rgb(221, 221, 221);
}

.category-list {
  padding:  0px 150px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.category-item {
  background-color: rgb(246,247,248);
  list-style: none;
  height: 25px;
  border: 1px solid #C5C4C4;
  padding: 2px 10px;
  border-radius: 8px;
}
.category-item a{
  text-decoration: none;
  color: #757575;
  font-size: 14px;
  font-weight: 550;

}

.category-item:hover {
  border: 1px solid rgb(162,162,162);
}